<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>


  <h1>Display all Ghosts!</h1>
  <!-- display all ghosts here so we can choose which one we want to investigate! -->
   <!-- 
    I want to be able to see my favorite haunts on here.
    I want to be able to navigate to other haunts and review them.
    AAU I want to be able to see a list of all my haunts.
    I also want to be able to select an individual haunt. 
      -->

      

        <a href="/ghosts/new">Create a new Haunt</a>
  <ul>
  <% ghosts.forEach((boo) => { %>
   <li>
    <a href="/ghosts/<%= boo.id %>">

      <%= boo.name %>
    </a>
  </li>
  <% }) %>
</ul>
<!-- <a href="/ghosts/new">Create a New Haunt</a> -->

  <!-- Each ghost needs to have a link to an individual ghost -->
  <%- include('../partials/footer.ejs') %>
