<%- include('../partials/header.ejs') %>

<%- include('../partials/_navbar.ejs') %>


  <h1><%= ghosts.name %></h1>

  <!-- 
    I want to see my reviews.
    I want to be able to edit or delete.
    I want to be able to see all reviews for this haunt.
    I want to be able edit my reviews or delete 
    -->


  <div>
    <h2>Creator: <%= ghosts.creator.username %></h2>
    <% if (ghosts.creator._id.equals(user._id)) { %>
     <p>You own this</p>
     <a href="/ghosts/<%= ghosts._id %>/edit">Edit</a>
     <form action="/ghosts/<%= ghosts._id %>?_method=DELETE" method="POST">
       <button type="submit">Delete Haunt</button>
     </form>
    
    <% } else { %>
      <p>You don't own this, <%= ghosts.creator.username %> does!</p>
    <% } %>
    <p><%= ghosts.description %></p>
    <p>Location <%= ghosts.location %></p>

    <ul>
      <% ghosts.reviews.forEach(review => { %>
       <li><%= review.author%> <%= review.whatType %> <%= review.ghostReview %> <%= review.rating %></li>
      <% }) %>

    </ul>
   
  </div>

  
<form action="/ghosts/<%= ghosts._id %>/reviews" method="POST">
  <label for="author">Author:</label>
  <input type="text" name="author" id="author">
  <label for="whatType">What Type</label>
  <input type="text" name="whatType" id="whatType">
  <label for="ghostReview">Ghost Review</label>
  <textarea name="ghostReview" id="ghostReview" placeholder="Review Here"></textarea>
  <label for="rating">What is your rating</label>
  <%- include('../partials/rating.ejs') %>
  <button type="submit">Submit review</button>

</form>

<%- include('../partials/footer.ejs') %>

 

